.bar-header {
  .back-button {
    margin-left: 0;

    .back-text {
      display: none;
    }
  }
}

.bar-stable.bar.bar-header {
  background: $base-darkteal;

  .alt-logo {
    height: 35px;
    margin-top: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/brand/comidomi-horizontal-simple-white.png');
  }

  .ion-navicon, .button {
    color: $white;
  }

  .title {
    font-family: $font-base;
    color: $white;
  }
}
