.popup {
  // overriding popup for ion datetime picker
  .popup-head {
    h3 {
      font-family: $font-base;
    }
  }
  .popup-sub-title {
    font-family: $font-light;
  }
  select, .year-input input {
    font-family: $font-base;
  }
  .popup-body {
    font-family: $font-light;
  }
}
