.popup {
  // overriding popup for ion datetime picker
  .popup-head {
    h3 {
      font-family: Ubuntu-Regular;
    }
  }
  .popup-sub-title {
    font-family: Ubuntu-Light;
  }
  select, .year-input input {
    font-family: Ubuntu-Regular;
  }
  .popup-body {
    font-family: Ubuntu-Light;
  }
}
