.popup {
  // overriding popup for ion datetime picker
  .popup-head {
    h3 {
      font-family: Galano-Grotesque-Medium;
    }
  }
  .popup-sub-title {
    font-family: Galano-Grotesque-Light;
  }
  select, .year-input input {
    font-family: Galano-Grotesque-Medium;
  }
  .popup-body {
    font-family: Galano-Grotesque-Light;
  }
}
