body.open-keyboard {
  .hide-on-keyboard-open {
    display: none;
  }

  .set-to-bottom-on-keyboard-open {
    bottom: 0;
  }
}

//images
.img-wrapper-thumbnail_url {
  .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-image: url('../images/placeholder-menu.png');
  }
}
