.card-information {
	width: 100%;
	display: block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: $white;

	&.no-space {
		margin-bottom: 0;
	}

	.list-inset {
		margin: 0;
	}

	.row {
		padding: 3px 0;

		.row-info {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			flex-basis: 100%;
			padding: 5px 0;

			shipping-request-dispatch-at {
				display: flex;
				justify-content: space-between;
				width: 100%;
			}

			&.time {
				font-size: $font-s;

				span {
					font-family: $font-base;
				}

				.time-date {
					color: $base-black;
				}
			}

			.action {
				color: $white;
				background: $base-orange;
				width: 36px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 4px;
			}

			button {
				padding: 0;
			}

			.map-image {
				overflow: hidden;
			}

			.image {
				width: 40px;
				height: 40px;

				&.map {
					width: 100%;
					height: 140px;
					transform: scale(2);
				}
			}
		}

		&.information {
			display: flex;
			flex-direction: column;

			.row-info {
				border-bottom: 1px solid $base-grey;
				padding: 10px 0;

				&.no-border {
					border-bottom: none;
					padding: 8px 0 0;
				}
			}

			.details {
				&.end {
					text-align: end;
					flex-basis: 20%;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}

				&.start {
					text-align: start;
					flex-basis: 80%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}

				&.full {
					display: flex;
					text-align: start;
					align-items: flex-start;
					flex-basis: 100%;
				}

				.label {
					font-size: $font-xs;
					font-family: $font-base;
					text-transform: uppercase;
					color: $base-grey;
				}

				.name {
					color: $base-black;
					font-family: $font-base;
					text-transform: uppercase;

					&.highlight {
						color: $base-teal;
					}

					&.semibold {
						font-family: $font-semibold;
					}

					&.preline {
						white-space: pre-wrap;
						text-transform: none;
					}
				}

				.cost {
					font-family: $font-light;
					font-size: $font-s;
					display: flex;

					.value {
						padding-right: 5px;
					}
				}

				.user {
					display: flex;

					.img-provider {
						width: 35px;
						height: 35px;
						margin-right: 10px;
					}

					.name {
						margin-left: 5px;
					}
				}
			}

			.img-provider {
				width: 35px;
				height: 35px;
				margin-right: 10px;
			}
		}
	}
	//items
	.order-item {
		margin: 0;
		border-bottom: 1px solid $medium-grey;
		text-transform: uppercase;

		.customer-order-item-observations {
			font-family: $font-base;
			font-size: $font-s;
			color: $base-teal;
		}
	}

	.order-costs {
		.label {
			font-family: $font-light;
			text-transform: uppercase;
			font-size: $font-s;

			&.total {
				font-family: $font-base;
			}
		}

		.value {
			font-family: $font-bold;
			font-size: $font-s;
		}
	}

	.separator {
		border-top: 1px solid $base-teal;
		width: 100%;
		padding-top: 10px;
		margin-top: 10px;

		.button {
			background-color: $base-orange;
			color: $white;
			padding: 0 10px;
			font-family: $font-base;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	&.blue-mode {
		background-color: $base-darkteal;
		color: $white;

		.row {
			&.information {
				.details {
					.label {
						color: $base-teal;
					}

					.name {
						color: $white;
					}
				}
			}
		}
	}

	&.green-mode {
		background-color: $base-teal;
		color: $white;

		.row {
			&.information {
				.details {
					.label {
						color: $base-darkteal;
					}

					.name {
						color: $white;
					}
				}
			}
		}

		.separator {
			border-top: 1px solid $white;
		}
	}
}
