input {
  font-family: $font-light;
}

.item-input {
  padding: 6px 0 5px 5px;
  margin-bottom: 2px;
  margin-top: 5px;
  // hide borders
  border-left: none;
  border-right: none;
  border-top: none;

  &--no-borders {
    border-bottom: none;
  }

  .icon, input {
    color: $base-grey;
  }
}
