ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button(
        ng-hide="hideBackButtonInStates[state.current.name]"
      )
    ion-nav-view(name='menuContent')
