.more-label {
  text-transform: uppercase;
  font-family: $font-light;
  font-size: 13px;
}

.item-show-footer {
  .left-panel {
    text-align: center;
    min-width: 135px;
    display: flex;

    .button {
      padding: 0 3px;
    }
  }

  product-counter {
    width: 100%;
    background-color: $stable;
    z-index: 1;
    position: absolute;
    bottom: 55px;
    left: 0;
  }
}
