.shipping-request-show-page {
  background-color: $light-grey;

  .shipping-request-content {
    margin:  20px 20px 0 20px;

    &--fix-scroll {
      height: auto;
      bottom: initial;
      padding-bottom: 60px;
    }
  }
}

.map-page {
  #order-map {
    height: 800px;
    width: 100%;
  }
}
