.courier-shipping-request-index-list {
  font-family: Galano-Grotesque-Light;
  color: $base-grey;
  background-color: $light-grey;

  .list--top-narrow {
    text-align: center;
    background: $base-teal;
    color: $white;
    padding: 10px 0;
    font-family: Galano-Grotesque-Medium;
    font-size: 12px
  }
  
  .list--bottom-narrow{
    text-align: center;
    margin: 10px 0;
  }

}

shipping-request-dispatch-at {
  humanized-countdown-time {
    font-family: Galano-Grotesque-Medium;
  }
}
