.shipping-request-show-page {
  #order-map {
    height: 100%;
  }

  .list-inset {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .order-item {
    font-family: Montserrat-Light;
    margin: 0;
    border-bottom: 1px solid $medium-grey;
    
    .customer-order-item-observations {
      font-size: 12px;
      color: $base-grey;
    }
  }

  .order-costs {

    .label {
      font-family: Montserrat-Light;
      font-size: 12px;

      &.total {
        font-family: Montserrat-Regular;
      }
    }

    .value {
      font-family: Montserrat-Regular;
      font-size: 12px;
    }
  }

  .status {

    .delivery-at-wrapper {
      display: flex;
      justify-content: space-between;
      font-family: Montserrat-Light;
      font-size: 12px;
      width: 100%;
  
      .value {
        font-family: Montserrat-Regular;
        font-size: 12px;
      }
    }
  }

  .observations {
    .content {
      font-family: Montserrat-Light;
    }
  }

  .user-information {
    display: flex;
    padding: 0 10px;

    .details {
      flex-basis: 80%;

      .user {
        display: flex;

        span {
          margin-left: 5px;
        }
      }
    }

    .actions {
      flex-basis: 20%;

      .action {
        color: $white;
        background: $base-orange;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .address {
    border-top: 1px solid $medium-grey;
    font-size: 12px;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
  }

  .narrow {
    font-family: Montserrat-Regular;

    .image {
      width: 40px;
      height: 40px;
    }
  }
}
