.courier-shipping-request-my-shippings {
  font-family: Galano-Grotesque-Light;
  color: $base-grey;
  background-color: $light-grey;

  .list--bottom-narrow,
  .list--top-narrow {
    text-align: center;
    margin: 10px 0;
  }

  .shipping-request-container {
    background-color: $white;
    margin:  20px 20px 0 20px;

    .shipping-request {
      width: 100%;
      display: block;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      &.assigned {
        .status {
          background-color: $base-orange;
          color: $white;
        }
      }

      &.in_progress {
        .status {
          background-color: $base-darkteal;
          color: $white;
        }
      }

      &.delivered {
        .status {
          background-color: $base-teal;
          color: $white;
        }
      }


      .row {
        padding: 3px 20px;

        .order-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-basis: 100%;
          padding: 5px 0;

          .status {
            font-family: Galano-Grotesque-Medium;
          }
  
          shipping-request-dispatch-at {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          &.time {
            font-size: 12px;
    
            humanized-countdown-time {
              color: $base-black;
            }
          }
        }

        &.information {
          align-items: center;

          .order-info {
            border-bottom: 1px solid $medium-grey;
            padding: 10px 0;
          }

          .details {
            .name {
              color: $base-black;
              font-family: Galano-Grotesque-Medium;
            }

            .cost {
              font-family: Galano-Grotesque-Light;
              font-size: 12px;
            }

          }

          .img-provider {
            width: 35px;
            height: 35px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

shipping-request-dispatch-at {
  humanized-countdown-time {
    font-family: Galano-Grotesque-Medium;
  }
}
