.shipping-request-show-page {
  background: $light-grey;

  &--fix-scroll {
    height: auto;
    bottom: initial;
    padding-bottom: 60px;
  }

  #order-map {
    height: 100%;
  }

  .list--top-narrow {
    text-align: center;
    background: $base-teal;
    color: $white;
    padding: 10px 0;
    font-family: Galano-Grotesque-Medium;
    font-size: 12px;
  }

  .list-inset {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .order-item {
    font-family: Galano-Grotesque-Medium;
    margin: 0;
    border-bottom: 1px solid $medium-grey;
    
    .customer-order-item-observations {
      font-size: 12px;
      color: $base-grey;
    }
  }

  .user-information {
    display: flex;
    padding: 0 10px;
    font-family: Galano-Grotesque-Light;

    .details {
      flex-basis: 80%;

      .user {
        display: flex;

        span {
          margin-left: 5px;
          font-family: Galano-Grotesque-Medium;
        }
      }
    }

    .actions {
      flex-basis: 20%;

      .action {
        color: $white;
        background: $base-orange;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .address {
    border-top: 1px solid $medium-grey;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
  }

  .narrow {

    .image {
      width: 40px;
      height: 40px;
    }
  }
}
