.courier-shipping-request-index-list {
  font-family: $font-light;
  color: $base-grey;
  background-color: $light-grey;

  .list--top-narrow {
    text-align: center;
    background: $base-teal;
    color: $white;
    padding: 10px 0;
    font-family: $font-base;
    font-size: $font-m
  }

  .list--bottom-narrow{
    text-align: center;
    margin: 10px 0;
  }

  .cards-order{
    margin: 20px;

    .card-order {
      width: 100%;
      display: block;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      margin-bottom: 20px;
      padding: 10px 20px;
      background-color: $base-darkteal;
      color: $white;

      .row {
        padding: 3px 0;

        .order-info {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          flex-basis: 100%;
          padding: 5px 0;

          shipping-request-dispatch-at {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          &.time {
            font-size: $font-s;

            span {
              font-family: $font-base;
            }

            .time-date {
              color: $base-black;
            }
          }

          .action {
            color: $white;
            background: $base-orange;
            width: 36px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
          }

          button {
            padding: 0;
          }

          .image {
            width: 40px;
            height: 40px;
          }
        }

        &.information {
          display: flex;
          flex-direction: column;

          .order-info {
            border-bottom: 1px solid $base-grey;
            padding: 10px 0;

            &.no-border {
              border-bottom: none;
              padding: 8px 0 0 0;
            }
          }

          .details {
            &.end {
              text-align: end;
              flex-basis: 20%;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }

            &.start {
              text-align: start;
              flex-basis: 80%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            .label {
              font-size: $font-xs;
              font-family: $font-base;
              text-transform: uppercase;
              color: $base-teal;
            }

            .name {
              font-family: $font-base;
              text-transform: uppercase;

              &.highlight {
                color: $base-teal;
              }

              &.semibold {
                font-family: $font-semibold;
              }
            }

            .cost {
              font-family: $font-light;
              font-size: $font-s;
            }

            .user {
              display: flex;

              .name {
                margin-left: 5px;
              }
            }

          }

          .img-provider {
            width: 35px;
            height: 35px;
            margin-right: 10px;
          }
        }
      }

      .separator {
        border-top: 1px solid $base-teal;
        width: 100%;
        padding-top: 10px;
        margin-top: 10px;

        .button {
          background-color: $base-orange;
          color:$white;
          padding: 0 10px;
          font-family: $font-base;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
