.provider-orders-index-page{
  font-family: Ubuntu-Light;
  color: $base-grey;

  .page-title {
    font-family: Ubuntu-Regular;

    h2 {
      color: $base-grey;
      font-size: 22px;
      line-height: 24px;
      font-family: Ubuntu-Regular;
      text-transform: capitalize;
    }
  }

  .order-container{
    margin-top: 15px;
    cursor: pointer;
    i {
      color: $base-orange;
      span {
         padding: 5px
      }
    }
  }
}
