.provider-orders-index-page{
  font-family: $font-light;
  color: $base-grey;

  &.empty {
    background-color: $light-grey;
  }

  .page-title {
    font-family: $font-base;

    h2 {
      color: $base-grey;
      font-size: 22px;
      line-height: 24px;
      font-family: $font-base;
      text-transform: capitalize;
    }
  }

  .order-container{
    margin-top: 15px;
    cursor: pointer;
    i {
      color: $base-orange;
      span {
         padding: 5px
      }
    }
  }

  .skeletons {
    padding: 20px 15px 0 15px;
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;

    img {
      width: 110px;
      // filter: grayscale(1);
    }

    .text {
      font-family: $font-base;
      color: $base-grey;
      font-size: $font-l;
      padding-top: 10px;
    }
  }
}
