.errands-page {

  ion-footer-bar {
    bottom: 49px;
    padding: 0;
  }

  ion-content {
    padding: 10px;

    .header-message, .after-form-message {
      .tip {
        font-family: $font-base;
        font-size: $font-m;
      }
    }

    .after-form-message {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid $base-grey;

      .icon {
        float: left;
        height: 64px;
        width: 80px;

        svg {
          margin: auto;
          margin-top: 10px;
        }
      }

      .tip {
        margin-left: 80px;
      }
    }

    .header-message {
      margin-bottom: 5px;

      .main {
        font-family: $font-semibold;
        font-size: $font-l;
      }
    }

    .input-form {
      margin-bottom: 10px;
    }

    .select-address-container {

      .select-address {
        border: 1px solid $base-teal;
        color: $base-teal;
        padding: 5px 10px;
        cursor: pointer;
        font-family: $font-semibold;
      }
    }

    .label {
      text-transform: uppercase;
      font-size: $font-xs;
      font-family: $font-base;
    }

    textarea {
      background: $light-grey;
      font-family: $font-semibold;
      width: 100%;
      min-height: 100px;
      padding: 10px;
      line-height: 20px;
    }
  }
}

.addresses-choose-page {

  .addresses {
    margin: 0 10px;
  }
}

.selected-address-row-wrapper {
  padding: 5px 10px;
  border: 1px solid $base-teal;
  color: $base-teal;
  cursor: pointer;
  font-family: $font-semibold;

  .selected-address {
    overflow: hidden;
    white-space: nowrap;
  }

  .icon, .address {
    display: inline-block;
  }
}

.address-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $base-grey;

  padding: 10px 0;

  .content-address {
    display: flex;

    .address {
      margin-left: 10px;
      font-family: $font-base;
      color: $base-grey;
      font-size: $font-s;

      .place {
        font-family: $font-semibold;
        color: $base-black;
        font-size: $font-m;
      }
    }
  }

  .icon {
    color: $base-teal;
    margin: 0 10px 0 0;
  }

  .map {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-left: 5px;

    .image {
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      background-size: contain;
      transform: scale(3.4)
    }
  }
}
