.customer-my-orders {
  font-family: Galano-Grotesque-Light;
  color: $base-grey;
  background-color: $light-grey;

  .list--bottom-narrow,
  .list--top-narrow {
    text-align: center;
    margin: 10px 0;
  }
}

.submitted-customer-order-preview {

  .order-item {
    font-family: Galano-Grotesque-Light;
    margin: 0;
    border-bottom: 1px solid $medium-grey;

    .customer-order-item-observations {
      font-size: 12px;
      color: $base-grey;
    }
  }

  .order-costs {

    .label {
      font-family: Galano-Grotesque-Light;
      font-size: 12px;

      &.total {
        font-family: Galano-Grotesque-Medium;
      }
    }

    .value {
      font-family: Galano-Grotesque-Medium;
      font-size: 12px;
    }
  }

  .status {

    .delivery-at-wrapper {
      display: flex;
      justify-content: space-between;
      font-family: Galano-Grotesque-Light;
      font-size: 12px;
      width: 100%;

      .value {
        font-family: Galano-Grotesque-Medium;
        font-size: 12px;
      }
    }
  }

  .observations {
    .content {
      font-family: Galano-Grotesque-Light;
    }
  }

  .user-information {

    .narrow {
      font-family: Galano-Grotesque-Light;
    }
  }
}
