.customer-my-orders {
  font-family: Galano-Grotesque-Light;
  color: $base-grey;
  background-color: $light-grey;

  .list--bottom-narrow,
  .list--top-narrow {
    text-align: center;
    margin: 10px 0;
  }

  .shipping-request-container {
    background-color: $white;
    margin:  20px 20px 0 20px;
    padding: 10px 0;

    .shipping-request {
      width: 100%;
      display: block;

      .row {
        padding: 5px 20px;

        .order-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-basis: 100%;
          padding: 5px 0;

          .status {
            color: $base-teal;
            font-family: Galano-Grotesque-Medium;
          }

          shipping-request-dispatch-at {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }

        &.provider {
          display: flex;
          flex-direction: column;

          .order-info {
            border-top: 1px solid $medium-grey;;
            border-bottom: 1px solid $medium-grey;;
            padding: 15px 0;
          }

          .details {
            .name {
              color: $base-black;
              font-family: Galano-Grotesque-Medium;
            }

            .cost {
              font-family: Galano-Grotesque-Light;
              font-size: 12px;
            }

          }

          .img-provider {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}

.submitted-customer-order-preview {

  .order-item {
    font-family: Galano-Grotesque-Light;
    margin: 0;
    border-bottom: 1px solid $medium-grey;

    .customer-order-item-observations {
      font-size: 12px;
      color: $base-grey;
    }
  }

  .order-costs {

    .label {
      font-family: Galano-Grotesque-Light;
      font-size: 12px;

      &.total {
        font-family: Galano-Grotesque-Medium;
      }
    }

    .value {
      font-family: Galano-Grotesque-Medium;
      font-size: 12px;
    }
  }

  .status {

    .delivery-at-wrapper {
      display: flex;
      justify-content: space-between;
      font-family: Galano-Grotesque-Light;
      font-size: 12px;
      width: 100%;

      .value {
        font-family: Galano-Grotesque-Medium;
        font-size: 12px;
      }
    }
  }

  .observations {
    .content {
      font-family: Galano-Grotesque-Light;
    }
  }

  .user-information {

    .narrow {
      font-family: Galano-Grotesque-Light;
    }
  }
}
