.customer-profile-form {
  .image-preview {
    .img-wrapper {
      margin: auto;
    }
  }

  .phone-number-intro {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: Galano-Grotesque-Medium;
    font-size: 18px;
  }

  .ui-icon-wrapper {
    text-align: center;
    margin-top: 20px;

    i {
      font-size: 80px;
    }
  }
}
