.show-profile-page {
  color: $base-darkteal;

  .profile-header {
    .img-profile {
      display: block;
      margin: auto;
      margin-top: 15px;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin: 0 0 15px 0;
      font-family: $font-light;
    }
  }

  .actions-wrapper {
    margin-bottom: 0;
  }
}

.profile-page {
  .information {
    margin: 0 20px;
    font-family: $font-light;
    color: $base-grey;

    .wrapper {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $medium-grey;;
      padding: 10px 0;
      margin: 10px 0;
      font-size: $font-m;

      .label {
        font-family: $font-base;
        color: $base-black;
      }

      .value {
        color: $base-black;
      }
    }
  }
}

.addresses-page {
  background: $light-grey;

  .addresses-content {
    padding: 20px;
  }

  .empty-addressess {
    text-align: center;
    margin: 20px 0;
    font-family: $font-light;
    color: $base-grey;
  }

  .addresses-wrapper {
    top: 0;

    &--fix-scroll {
      height: auto;
      bottom: initial;
      padding-bottom: 15px;
    }

    .address-wrapper {
      margin-bottom: 2em;

      .address-card {
        margin: 20px;
        background: $white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .label, .value {
          font-family: $font-base;
          font-size: $font-s;

          &.muted {
            color:$base-grey;
          }
        }

        .resource-detail-title {
          font-family: $font-base;
          font-size: $font-m;
          margin-bottom: 5px;
          color: $base-darkteal;
        }

        .static-map-preview {
          max-width: 100%;
          padding: 0 10px 10px 10px;
        }
      }
    }

    .edit-address-btn {
      float: right;
      min-height: initial;
      line-height: 18px;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: $font-s;
    }
  }
}
