.show-profile-page {
  color: $base-darkteal;

  .profile-header {
    .img-profile {
      display: block;
      margin: 15px auto auto;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin: 0 0 15px;
      font-family: $font-light;
    }
  }

  .actions-wrapper {
    margin-bottom: 0;
  }
}

.profile-page {
  .profile-container {
    width: 100%;
    padding: 20px;

    .profile-user {
      margin-top: 30px;

      .user {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .image {
          width: 30%;

          img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            background-color: $light-grey;
          }
        }

        .information {
          width: 70%;
          font-family: $font-semibold;
          text-align: center;

          .name {
            font-size: $font-xl;
          }

          .birth {
            font-size: $font-s;
            color: $base-grey;
          }

          .button-ghost {
            border: 1px solid $base-orange;
            color: $base-orange;
            background: transparent;
            padding: 3px 10px;
            border-radius: 5px;
            margin-top: 10px;
          }
        }
      }

      .details {
        font-family: $font-base;
        color: $base-grey;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 10px;

        .wrapper {
          padding: 10px;
          width: 50%;
          border-top: 1px solid $medium-grey;
          border-bottom: 1px solid $medium-grey;
          text-align: center;

          &.phone {
            border-right: 1px solid $medium-grey;
          }

          .icon {
            margin-right: 10px;
          }
        }
      }
    }

    .options {
      font-family: $font-base;
      color: $base-grey;

      .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-l;
        padding: 10px 0;
        border-bottom: 1px solid $medium-grey;

        .wrapper {
          display: flex;

          .icon {
            margin: 0 15px 0 0;
            color: $base-darkteal;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .icon {
          margin: 0;
        }

        &.logout {
          color: $error-red;

          .icon {
            color: $error-red;
          }
        }
      }
    }
  }
}

.addresses-page {
  background: $light-grey;

  .addresses-content {
    padding: 20px;
  }

  .empty-addressess {
    text-align: center;
    margin: 20px 0;
    font-family: $font-light;
    color: $base-grey;
  }

  .addresses-wrapper {
    top: 0;

    &--fix-scroll {
      height: auto;
      bottom: initial;
      padding-bottom: 15px;
    }

    .address-wrapper {
      margin-bottom: 2em;

      .address-card {
        margin: 20px;
        background: $white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .label,
        .value {
          font-family: $font-base;
          font-size: $font-s;

          &.muted {
            color: $base-grey;
          }
        }

        .resource-detail-title {
          font-family: $font-base;
          font-size: $font-m;
          margin-bottom: 5px;
          color: $base-darkteal;
        }

        .static-map-preview {
          max-width: 100%;
          padding: 0 10px 10px;
        }
      }
    }

    .edit-address-btn {
      float: right;
      min-height: initial;
      line-height: 18px;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: $font-s;
    }
  }
}
