ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo
  ion-content.submitted-customer-order-preview.has-footer
    .customer-errand
      .card-information.customerInfo
        .row.user.information
          .row-info
            .details
              .name.semibold {{ ::("order.customerInfo"|translate) }}
        .row.information
          .row-info.no-border
            .details.start
              .label {{ ::("courier.deliveryAddresses" |translate) }}
              .name {{ ::(customerOrderVm.customerOrder.customer_address_attributes.direccion_uno) }}
              .name {{ ::(customerOrderVm.customerOrder.customer_address_attributes.direccion_dos) }}
        .row.information
          .row-info.no-border
            .details.start
              .label {{ ::("addresses.reference" |translate) }}
              .name {{ ::(customerOrderVm.customerOrder.customer_address_attributes.referencia) }}
      .card-information
        .row.user.information
          .row-info
            .details
              .name.semibold {{ ::("order.message"|translate) }}
        .row.information
          .row-info.no-border
            .details
              .name.preline {{ ::customerOrderVm.customerOrder.description }}
  tabs-nav
