flash-notification {
  .flash-container {
    position: absolute;
    top: 50px;
    min-height: 60px;
    width: 100%;
    z-index: 10;
    color: $white;
    font-size: $font-m;
    font-family: $font-base;
    padding: 0 15px;
    animation: bounceInDown 0.8s ease-in-out;

    &.animate-out {
      animation: fadeOutUp 0.8s ease-in-out;
    }

    &.hidden {
      top: 0;
      display: none;
    }

    .wrapper {
      background-color: #323232;
      min-height: 60px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      .message {
        text-align: left;
      }

      .btn-close {
        margin-left: 10px;
      }
    }
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    display: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}
