.provider-items-in-cart {
  .items-delivery-container {

    .img-wrapper {
      height: 60px;
      width: 60px;
      flex-basis: 20%;

      .img {
        height: 60px;
        width: 60px;
      }
    }

    .info-wrapper {
      flex-basis: 80%;
    }
  }

  .item-container {
    .customer-item-description {
      display: flex;
      align-items: baseline;
      padding: 15px;
      border-bottom: 1px solid $medium-grey;;
      font-family: $font-light;
      font-size: $font-m;
      line-height: 18px;
      letter-spacing: -0.5px;

      .customer-item--quantity {
        color: $base-teal;
        flex-basis: 5%;
        min-width: 25px;
        font-family: $font-base;
        text-align: start;
      }

      .customer-item--title {
        color: $base-black;
        flex-basis: 80%;
      }
      .customer-item--value {
        font-size: 13px;
        color: $base-black;
        flex-basis: 20%;
        text-align: end;
      }
    }
  }
}
