.order-card {
	.shipping-request-container {
		background-color: $white;

		.shipping-request {
			width: 100%;
			display: block;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			margin-bottom: 20px;

			.row {
				padding: 3px 20px;

				.order-info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-basis: 100%;
					padding: 5px 0;

					shipping-request-dispatch-at {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}

					&.time {
						font-size: $font-s;

						span {
							font-family: $font-base;
						}

						.time-date {
							color: $base-black;
						}
					}
				}

				&.information {
					display: flex;
					flex-direction: column;

					.order-info {
						border-bottom: 1px solid $base-grey;
						padding: 10px 0;

						&.no-border {
							border-bottom: none;
							padding: 8px 0 0;
						}
					}

					.details {
						&.end {
							text-align: end;
						}

						&.start {
							text-align: start;
						}

						.label {
							font-size: $font-s;
							font-family: $font-base;
							color: $base-black;
							// text-transform: uppercase;
              line-height: 12px;
						}

						.name {
							color: $base-grey;
							font-family: $font-base;
							// text-transform: uppercase;
              line-height: 20px;
							padding-top: 5px;

							&.highlight {
								color: $base-orange;
							}

							&.semibold {
								font-family: $font-semibold;
							}
						}

						.cost {
							font-family: $font-light;
							font-size: $font-s;
						}
					}

					.img-provider {
						width: 35px;
						height: 35px;
						margin-right: 10px;
					}
				}
			}
		}
	}
}
