.errors-wrapper {
  font-size: 13px;
}

.errors-wrapper,
.message-error {
  color: white;
  font-family: $font-base;

  .bottom-spaced {
    margin-bottom: 10px;
  }
}

.message-error.icon {
  margin-left: 5px;
  margin-right: 5px;
}
