.tabs-comidomi {
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
  }
}

.keyboard-open .tabs {
  display: none;
}

.keyboard-open .has-tabs {
  bottom: 0;
}

body.keyboard-open .has-footer {
  bottom: 0;
}
