.skeleton-card(
  ng-repeat="fakeData in ::skVm.elements track by $index" 
)
  .row
    .square.skeleton
    .text.skeleton.small.add-space
  .row
    .text.skeleton
  .row
    .text.skeleton.medium
  .row
    .btn.skeleton
