ion-view.provider-show-customer-order
  ion-nav-title
    .alt-logo

  ion-content(
    ng-init="order = providerOrderShowVM"
  )
    .header-order
      img(ng-src="{{ ::order.client.image_url }}")
      h4 {{ ::order.client.name }}
      h5
        | {{ ::("orders.collectionTitle" | translate) }}
        | {{ ::providerOrderShowVM.customerOrder.id }}
      .date.secondary
        span.date {{ order.customerOrder.submitted_at | formatDate:'MMMM DD - H:mm A' }}
    .content-order
      .table-order
        span(ng-repeat='item in order.providerProfile.customer_order_items')
          .order-item.row
            .col.col-60 
              .title {{ ::item.provider_item.titulo}}
              .customer-order-item-observations.secondary(ng-if="item.observaciones")
                | obs: {{ ::item.observaciones }}
            .col.col-20.secondary.amount-items
              .amount {{ ::( ("order.providerProfile.item.cantidadPrefix" | translate) + item.cantidad) }}
              .price 
                |(
                price(amount="{{item.provider_item_precio_cents}}"
                      currency="{{item.provider_item.precio_currency}}")
                |)
            .col.col-20.secondary.end
                price(amount="{{item.provider_item_precio_cents * item.cantidad}}"
                      currency="{{item.provider_item.precio_currency}}")
        .resource-collection-table.text-right.order-costs
          .row
            .col.col-75.label.total
              strong
                | {{ ::("order.summary.total" |translate) }}
            .col.col-25.value
              strong
                price(amount="{{ ::(order.customerOrder.subtotal_items_cents)}}"
                      currency="{{order.customerOrder.subtotal_items_currency}}")
    .footer-order
      .delivery-address
        label Dirección de envio
        .address-wrapper
          ng-md-icon.icon(icon="location_on" size="30")
          .address.secondary
            | {{order.addressDelivery.direccion_uno}}
            br
            | {{order.addressDelivery.direccion_dos}}
      .contact-client
    
