ion-view(
  view-title="{{::('profile.tabs.info'|translate)}}"
)
  ion-nav-title
    .alt-logo

  ion-content.profile-page

    ng-include(src="'templates/profile/profile.html'")

    .information
      .wrapper
        .label
          span {{::("user.name"|translate)}}
        .value {{piVm.user.name || ("globals.noInformation"|translate) }}
      .wrapper
        .label {{::("user.email"|translate)}}
        .value {{piVm.user.email}}
      .wrapper
        .label {{::("user.age"|translate)}}
        .value {{(piVm.user.fecha_nacimiento | age) || ("globals.noInformation"|translate) }}
      .wrapper
        .label {{::("user.country"|translate)}}
        .value {{piVm.user.ciudad || ("globals.noInformation"|translate) }}

    // until we update
    .list.hide
      .row
        .col.col-50.label {{::("user.password"|translate)}}
        .col.col-50.value ********

  ion-footer-bar.bar-stable.bar-footer--tall
    button.button-full.button-main(
      ng-click="piVm.showNewModal(piVm.user)"
    ) {{::('globals.edit'|translate)}}