.resource-rounded-container {
  border-radius: 10px;
  border: 1px solid $base-orange;
  font-family: Galano-Grotesque-Light;

  .container-title {
    font-size: 18px;
    font-family: Galano-Grotesque-Medium;
  }
}
