.resource-collection {
  .filter-select {
    height: 22px;
    padding-left: 0;
    color: $base-grey;

    @media (max-width: $grid-responsive-sm-break) {
      &:after {
        right: 5px;
      }
    }

    select {
      padding-left: 0;
      padding-right: 35px;
      max-width: 100%;
      font-family: $font-light;
      color: inherit;

      @media (max-width: $grid-responsive-sm-break) {
        padding-right: 20px;
        letter-spacing: -0.5px;
      }
    }
  }

  .resource-collection-table {
    .col {
      align-self: center;

      &:first-child {
        max-height: 120px;
        white-space: pre-line;
        overflow: hidden;
      }

      &:not(:first-child) {
        text-align: center;
      }

      &.text-right {
        text-align: right;
      }

      .button-clear.button-small {
        font-size: $font-s;
        letter-spacing: -0.5px;
        min-height: 25px;
        line-height: 25px;
      }

      &.col--elastic {
        max-height: initial;
        text-align: justify;
      }

      &.col--wrap {
        white-space: pre-wrap;
      }
    }

    .table-headers {
      color: $base-black;
      font-size: $font-m;
      text-transform: uppercase;
      font-family: $font-semibold;
      margin-bottom: 5px;

      .col {
        padding-bottom: 10px;
        border-bottom: 1px solid transparentize($base-grey, .5);
        align-self: flex-end;
      }
    }
  }

  .without-items {
    margin-top: 100px;
    color: $base-grey;
    text-align: center;
    font-family: $font-light;

    p {
      margin: auto;
      margin-bottom: 5px;
      margin: auto;
    }
  }

  .search-input {
    margin: 10px;
    border: 1px solid $medium-grey;
    border-radius: 10px;

    .placeholder-icon {
      color: $medium-grey;
    }
  }

  .item {
    font-family: $font-light;
  }
}
