@font-face {
  font-family: GochiHand-Regular;
  src: URL("../fonts/GochiHand-Regular.ttf");
}

//San Francisco
@font-face {
  font-family: SFProDisplay-Medium;
  src: URL("../fonts/SFProDisplay-Medium.ttf");
}

@font-face {
  font-family: SFProDisplay-Light;
  src: URL("../fonts/SFProDisplay-Light.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: URL("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: URL("../fonts/SFProDisplay-Bold.ttf");
}

$font-base: 'SFProDisplay-Regular';
$font-semibold: 'SFProDisplay-Medium';
$font-bold: 'SFProDisplay-Bold';
$font-light: 'SFProDisplay-Light';

$font-xl: 18px;
$font-l: 16px;
$font-m: 14px;
$font-s: 12px;
$font-xs: 10px;
