@font-face {
  font-family: GochiHand-Regular;
  src: URL("../fonts/GochiHand-Regular.ttf");
}

@font-face {
  font-family: Ubuntu-Regular;
  src: URL("../fonts/Ubuntu-R.ttf");
}

@font-face {
  font-family: Ubuntu-Light;
  src: URL("../fonts/Ubuntu-L.ttf");
}

@font-face {
  font-family: Ubuntu-Bold;
  src: URL("../fonts/Ubuntu-B.ttf");
}

@font-face {
  font-family: Ubuntu-Medium;
  src: URL("../fonts/Ubuntu-M.ttf");
}
