.flash-container(
  ng-class="{'animate-out': fnVm.animate, 'hidden': fnVm.isHide}"
  ng-click="fnVm.onClick()"
)
  .wrapper
    .message {{fnVm.message}}
    .btn-close(
      ng-click="fnVm.close()"
    )
      ng-md-icon.icon(icon="close" size="20")
    
    
