.flash-container(
  ng-class="{'animate-out': fnVm.animate, 'hidden': fnVm.isHide}"
  ng-click="fnVm.onClick()"
)
  .wrapper
    .message-wrapper
      .message-title {{fnVm.message}}
      .message-description {{fnVm.messageDescription}}
    .btn-close(
      ng-click="fnVm.close()"
    )
      ng-md-icon.icon(icon="close" size="20")
