.cart-page-footer {

  price {
    position: absolute;
    right: 20px;
  }

  .button {
    position: relative;
  }
}
.customer-order {

  &.empty {
    background-color: $light-grey;

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50%;

      img {
        width: 110px;
        // filter: grayscale(1);
      }

      .text {
        font-family: $font-base;
        color: $base-grey;
        font-size: $font-l;
        padding-top: 10px;
      }
    }
  }

  .customer-order-preview {
    background-color: $white;

    &--fix-scroll {
      height: auto;
      bottom: initial;
      padding-bottom: 60px;
    }

    .scroll {
      padding-bottom: 30px;
    }

    .cart-delivery-address {
      color: $base-grey;
      padding: 20px;
      font-family: $font-base;
      letter-spacing: -0.5px;
      position: relative;
      padding-right: 70px; // room for btn
      letter-spacing: -0.5px;

      span:not(:last-child) {
        margin-right: 3px;
      }

      .placeholder-title {
        font-family: $font-light;
      }

      .button-clear {
        position: absolute;
        top: 5px;
        right: 0;
        text-transform: uppercase;
        font-size: $font-m;
        color: $base-yellow;
      }
    }

    .provider-profile-section {
      &--clear {
        clear: both;
        margin-bottom: 20px;
      }

      .provider-profile--title-wrapper {
        padding: 15px;
        background-color: $white;
        letter-spacing: -0.5px;
        line-height: 20px;
      }

      .provider-profile--title {
        color: $base-black;
        text-transform: uppercase;
        font-size: 16px;
        font-family: $font-base;
      }

      .provider-profile--subtitle {
        float: right;
        color: $positive;
        font-family: $font-base;
        font-size: 13px;

        span:not(:last-child) {
          margin-right: 3px;
        }
      }

      .order-total-summary {
        font-family: $font-light;
        margin: 10px 0 0 0;

        .order-row {
          display: flex;
          justify-content: space-between;
          padding: 3px 15px;
        }

        .order-total {
          font-family: $font-base;
        }
      }
    }

    .provider-items-in-cart {
      // border-top: 2px solid $light-grey;
      // border-bottom: 2px solid $light-grey;

      .items-delivery-container {

        .item-container {
          .provider-item--price {
            padding: 0;
          }

          .img-wrapper {
            min-height: initial;
          }
        }
      }

      .slick-container:not(:last-child) {
        // TODO fix border not reaching top
        border-right: 1px solid $light-grey;
      }
    }
  }
}

.checkout-form {
  .delivery-time-wrapper {
    position: relative;
    border-bottom: 1px solid $button-light-border;
    margin-bottom: 30px;

    i, span {
      cursor: pointer;
    }

    .button {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 7px;
      letter-spacing: -0.5px;
      line-height: 36px;
      background-color: $white;

      &--floating {
        float: right;
        position: relative;
      }
    }

    .datetime-picker {
      border-bottom: 0;
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  label.select-list-label.item-input--no-borders {
    margin: 0 0 10px 20px;
    font-family: $font-base;
    text-transform: uppercase;
  }

  .select-list-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px 15px 10px 15px;
    font-family: $font-light;
    font-size: $font-m;

    &--with-button {
      padding-right: 40px;
    }

    &.selected {
      color: $base-yellow;
      font-family: $font-base;
      background-color: $light-grey;
    }

    &:not(:first-child) {
      border-top: 1px solid $card-border-color;
    }

    i {
      margin-right: 5px;
    }
  }
}

.checkout-modal-form {
  .addresses-wrapper {
    font-family: $font-light;

    // we programatically add content inside
    // the form and don't recalculate height
    margin-bottom: 44px;
  }
}

.editable-list-item-wrapper {
  position: relative;
  font-family: $font-light;
  font-size: $font-m;

  .edit-list-item {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    max-height: 46px;
    line-height: 46px;
  }
}
