.order-item.row
  .col.col-60 
    .category {{ ::item.provider_item.category_name}}
    .title {{ ::item.provider_item.titulo}}
    .customer-order-item-observations(ng-if="item.observaciones")
      | obs: {{ ::item.observaciones }}
  .col.col-20 {{ ::( ("order.providerProfile.item.cantidadPrefix" |translate) + item.cantidad) }}
  .col.col-20
      price(amount="{{item.provider_item_precio_cents}}"
            currency="{{item.provider_item.precio_currency}}")
